@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Space+Mono&display=swap");

:root {
  font-family: "Space Mono", monospace;
  margin: 0;
  --background: #1f1f28;
  --foreground: #dcd7ba;
  --links: #7e9cd8;
  --light-foreground: #4c4c55;
  --headings: #dcd7ba;
  --headings: #dca561;
  /* --headings: #d8616b; */
  /* --headings: #98BB6C; */
}
body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 48px 16px;
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  margin: 0;
  color: var(--headings);
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 0;
}

section > h2 {
  margin-bottom: -16px;
}

section section {
  gap: 16px;
}

p {
  margin: 0;
}

a {
  color: var(--links);
}

hr {
  width: 32px;
  border: 4px var(--light-foreground) solid;
  margin: 0;
}
