@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Space+Mono&display=swap");
@import url("https://www.nerdfonts.com/assets/fonts/Symbols-2048-em%20Nerd%20Font%20Complete.woff2");

@font-face {
  font-family: "NerdFontsSymbols Nerd Font";
  src: url("https://www.nerdfonts.com/assets/fonts/Symbols-2048-em%20Nerd%20Font%20Complete.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Space Mono", "NerdFontsSymbols Nerd Font", monospace;
  margin: 0;
  --background: #1f1f28;
  --background-light: #2a2a37;
  --foreground: #dcd7ba;
  --link-foreground: #7e9cd8;
  --link-hover-foreground: #7fb4ca;
  --light-foreground: #4c4c55;
  /* --headings: #dcd7ba; */
  --headings: #dca561;
  /* --headings: #d8616b; */
  /* --headings: #98BB6C; */
}
body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 48px 16px;
  background: var(--background);
  color: var(--foreground);
}

i {
  font-family: "NerdFontsSymbols Nerd Font";
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  margin: 0;
  color: var(--headings);
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 0;
  align-items: flex-start;
}

section > h2 {
  margin-bottom: -16px;
}

section section {
  gap: 16px;
}

p {
  margin: 0;
}

a {
  color: var(--link-foreground);
  text-underline-offset: 4px;
  transition: text-underline-offset 0.5s;
}

a:hover {
  color: var(--link-hover-foreground);
  /* background: #2a2a37; */
}

hr {
  width: 32px;
  border: 4px var(--light-foreground) solid;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}
